@mixin fonts ($fw, $fz, $lh, $ls: inherit) {
    font-weight: $fw;
    font-size: $fz+px;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin circle($width: 44, $height: 44, $radius: 50%) {
    width: $width+px;
    height: $height+px;
    border-radius: $radius;
}


@mixin transition ($duration: 300ms, $timing-function: linear) {
    transition-duration: $duration;
    transition-timing-function: $timing-function;
}


// @include flex-basis(3, 30px); for flex-elements

@mixin flex-basis($item, $margin) {
    flex-basis: calc((100% - (#{$item} - 1) * #{$margin}) / #{$item});
}


// @include flex-template-gap(3, 30px); for flex-parents

@mixin flex-template-gap($item, $gap) {
    & {
        justify-content: space-between;
    }

    & > * {
        width: calc((100% - (#{$item} - 1) * #{$gap}) / #{$item});
    }

    & > * {
        margin-bottom: $gap;
    }

    & > *:nth-last-child(-n + #{$item}) {
        margin-bottom: 0px;
    }
}



// breakpoints

@mixin pre-mobile {
    @media screen and (max-width: 479.98px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin min-max-mobile {
    @media (min-width: 480px) and (max-width: 767.98px) {
        @content;
    }
}

@mixin max-mobile {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin min-max-tablet {
    @media (min-width: 768px) and (max-width: 1199.98px) {
        @content;
    }
}

@mixin max-tablet {
    @media screen and (max-width: 1199.98px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}



@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

@mixin any-hover($duration: 0.3s, $function: ease, $property: all) {
    @media (any-hover: hover) {
        transition: $duration $function $property;

        &:hover {
            @content;
        }
    }
}


// font-size: calc(36px + (48 - 36) * ((100vw - 1200px) / (1920 - 1200)));

// button:hover,
// button:focus,
// a:hover,
// a:focus {
//   cursor: url('../images/cursor-green.png') 15 12, auto;
// }