<section class="gallery">
  <ul class="gallery__set">
    <li class="gallery__frame frame">
      <div class="frame__content">
        <h1 class="frame__title">Beautiful World</h1>
      </div>
    </li>

    <li class="gallery__frame frame">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/1.jpg)"
        ></div>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <video
          class="frame__media frame__media--right frame__media--video"
          src="./video/video_optimized.mp4"
          autoplay
          loop
          muted
        ></video>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--right">
        <h3 class="frame__subtitle">Wonderful Nature</h3>
        <p class="frame__text">
          Our planet is blessed with beautiful landscapes. From massive
          glaciers, staggering mountains, plains populated with wild animals,
          our planet is mesmerizing.
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/2.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--left">
        <h3 class="frame__subtitle">Amazing Places</h3>
        <p class="frame__text">
          The world is an amazing place full of stories, beauty and natural
          wonder.
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--right"
          style="background-image: url(./images/3d-gallery/3.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for bigger distance between frames -->
    <li class="gallery__frame frame frame--bg"></li>

    <li class="gallery__frame frame">
      <div class="frame__content frame__content--right">
        <h3 class="frame__subtitle">Gorgeus Mountains</h3>
        <p class="frame__text">
          On a mountain, time seems slow and settled around you.You get a sense
          of time standing still. You imagine that the mountain has looked
          exactly the same for a really long time, and you imagine you will
          still look and feel the same for a really long time too.
        </p>
      </div>
    </li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <div
          class="frame__media frame__media--left"
          style="background-image: url(./images/3d-gallery/4.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for the biggest distance between frames -->
    <li class="gallery__frame frame"></li>
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content">
        <div
          class="frame__media"
          style="background-image: url(./images/3d-gallery/5.jpg)"
        ></div>
      </div>
    </li>

    <!-- add div for the bigger distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame frame--bg">
      <div class="frame__content">
        <video
          class="frame__media frame__media--video"
          src="./video/video_optimized.mp4"
          autoplay
          loop
          muted
        ></video>
      </div>
    </li>

    <!-- add div for the biggest distance between frames -->
    <li class="gallery__frame frame"></li>

    <li class="gallery__frame frame">
      <div class="frame__content">&copy; Iryna Vyshniak</div>
    </li>
  </ul>

  <img
    src="./images/3d-gallery/sound.gif"
    alt="sound"
    class="soundbutton paused"
  />
  <audio src="./audio/ambient.mp3" class="audio" loop></audio>
</section>
