.gallery {
    position: fixed;
    width: 100vw;
    height: 100vh;

    perspective: 1500px;
}

.gallery__set {
    transform-style: preserve-3d;
    height: 100vh;
}

.gallery__frame {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition, opacity 750ms ease;
    will-change: transform; // the browser must use more hardware resources, so page will haven`t freeze
    transform-style: preserve-3d; // for clear text
}

.frame__title {
    width: min-content;
    text-align: center;
    font-size: calc($index * 3.3);
    line-height: 1;
}

// frame--bg - next frame won`t see clear
.frame--bg {
    background-color: rgb(0 0 0 / .78);
    background-size: cover;
}

.frame__subtitle {
    margin-bottom: 3vh;

    width: min-content;
    font-size: calc($index * 2.3);
    line-height: 1;
}

.frame__text {
    max-width: 35vw;
}

.soundbutton {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    cursor: pointer;
    width: 24px;
    transition: .25s ease;
}

.soundbutton.paused {
    opacity: .25;
}